<div class="container photos-padded">
  <h1 class="text-center">Details of <%= @cocktail.name %> cocktail</h1>
  <div class="row little-padded">
    <% if @cocktail.photos? %>
      <% @cocktail.photos.each do |photo| %>
        <div class="col-md-4">
              <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill, class: "img-thumbnail" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="row little-padded">
    <div class="wrapper-show">
      <div class="col-xs-12 col-md-6">
        <div class="wrapper-white">
            <p><strong>Doses : 3 max </strong></p>
            <hr>
            <% @cocktail.doses.each do |dose| %>
              <p>
                <strong>Description :</strong> <%= dose.description %> |
                <strong>Ingredient :</strong> <%= dose.ingredient.name %>| <br>
                <%= link_to "delete", dose_path(dose), method: :delete, class: "btn btn-danger"%>
              </p>
            <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="wrapper-white">
          <h4>Add a new dose for <%= @cocktail.name %></h4>
          <%= render "cocktails/cocktail", locals: { cocktail: @cocktail } %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container text-center">
  <%= link_to "Back to cocktail pages", cocktails_path, class: "btn-red-cassed" %>
</div>
